@font-face {
    font-family: "Work Sans";
    src: url("./assets/fonts/WorkSans.ttf")
}

@font-face {
    font-family: "Work Sans thin";
    src: url("./assets/fonts/WorkSans-Light.ttf")
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}
body{
    background: #fff;
}
/* !Cursor Style */
#cursor {
    position: absolute;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: difference;
    transition: transform .2s;
  }
/* ! Navigation Styles Start */
nav{
    position: fixed;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: space-between;
    margin: 30px 50px 0;
    top: 0;
    left: 0;
    right: 0;
}
/* ! Navigation Styles End */
/* ! Block 1 Styles Start */
.block1{
    background: url('./assets/images/КАРТИНКА ПЕРВОГО ЭКРАНА.svg');
    background-size: cover;
    height: 980px;
}

.block1 marquee{
    font-style: normal;
    font-weight: 500;
    font-size: 180px;
    color: #FFFFFF;
    margin-top: 191px;
}

.block1 marquee h1{
    font-size: 180px;
}

.block1__content{
    margin: 160px 127px 0 147px;
    display: flex;
    justify-content: space-between;
}

.item-redirect p{
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 20px;
}

.item-paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 509px;
    height: 120px;
    margin-top: 10px;
}

.arrow-down{
    border: none;
    background: transparent;
}
/* ! Block 1 Styles End */
/* ! Block 2 Styles Start */
.block2{
    margin: 150px 127px;
}

.head-title{
    font-weight: 500;
    font-size: 160px;
    line-height: 188px;
    letter-spacing: -0.04em;
    margin-top: 150px;
}

.block2__content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.block2__content .arrow-down{
    align-self: flex-end;
}

.block2__content-item{
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block2__content-item .item-paragraph{
    font-weight: 300;
    margin-top: 0;
    height: auto;
}
/* ! Block 2 Styles End */

#cirlce{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: difference;
    transition: transform .2s;
}
/* ! Block 4 Styles Start */
.block4{
    background: #1E1E1E;
}

.block4__title{
    color: #FBFBFB;
    margin-top: 0;
    padding-top: 150px;
    margin-left: 30px;
}

.block4__content-block{
    display: flex;
    margin: 100px 127px 0;
    justify-content: space-between;
    padding-bottom: 150px;
}

.block4__content-group{
    display: flex;
    flex-direction: column;
}

.content-item{
    max-height: 474px;
}

.content-item:nth-child(2){
    margin-top: 128px;
}

.content-item:nth-child(3){
    margin-top: 248px;
}

.block4__subtitle{
    font-size: 48px;
    line-height: 56px;
    color: #FBFBFB;
}

.block4__content-group img{
    margin-top: 80px;
}

.block4__content-description{
    display: flex;
    flex-direction: column;
    max-width: 441px;
    justify-content: space-between;
}

.description-block{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: #fbfbfb;
}

.descrition-block-title{
    font-size: 24px;
}

.description-block-text{
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    font-family: 'Work Sans thin';
    margin-top: 20px;
}

.description-block:nth-child(1){
    margin-top: 14px;
}

.description-block:nth-child(2){
    margin-top: 205px;
    width: 466px;
}

.description-block:nth-child(6), .description-block:nth-child(3){
    margin-top: 148px;
}
/* ! Block 4 Styles End */