@font-face {
    font-family: "Work Sans";
    src: url("./assets/fonts/WorkSans.ttf")
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}
/* ! Navigation Styles Start */
nav{
    position: fixed;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: space-between;
    margin: 30px 50px 0;
    top: 0;
    left: 0;
    right: 0;
}
/* ! Navigation Styles End */
/* ! Block 1 Styles Start */
.block1{
    background: url('./assets/images/КАРТИНКА ПЕРВОГО ЭКРАНА.svg');
    background-size: cover;
    height: 980px;
}

.block1 marquee{
    font-style: normal;
    font-weight: 500;
    font-size: 180px;
    color: #FFFFFF;
    margin-top: 191px;
}

.block1 marquee h1{
    font-size: 180px;
}

.block1__content{
    margin: 160px 127px 0 147px;
    display: flex;
    justify-content: space-between;
}

.item-redirect p{
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 20px;
}

.item-paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 509px;
    height: 120px;
    margin-top: 10px;
}

.arrow-down{
    border: none;
    background: transparent;
}
/* ! Block 1 Styles End */
/* ! Block 2 Styles Start */
.block2{
    margin: 150px 127px;
}
.block2 h2{
    margin-top: 150px;
    font-weight: 500;
    font-size: 160px;
    line-height: 188px;
    letter-spacing: -0.04em;
}

.block2__content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.block2__content .arrow-down{
    align-self: flex-end;
}

.block2__content-item{
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block2__content-item .item-paragraph{
    font-weight: 300;
    margin-top: 0;
    height: auto;
}
/* ! Block 2 Styles End */